@{
    ViewData["Title"] = "Home Page";
}
<html class="backgroundImage" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <h2 style="text-align:center;margin-top:10%;color:white;font-size:8em;">Creatif.</h2>
</body>
</html>
